
/*Text styling*/

h1 {
  font-family: "Caprasimo", serif;
  font-size: 5rem;
  font-weight: 400;
  font-style: normal;
  color: saddlebrown;
}

 	h2{
 			font-family: georgia;
 			font-size: 2rem;
 			font-weight: 300;
 			color: saddlebrown;
 			margin-bottom: 5px;
 			margin-top: 2px;
 }

 		/*this is all h2 colour and editing */

 		body{
 			background-color: mintcream;
 			padding: 150px;
 		}


 	p{
 		position: unset;
 		font-family: geordia;
 		font-size: 1rem;
 		color: saddlebrown;
 	}

 	h3{
 		font family: georgia;
 		font size: 1.5rem;
 		font-weight: 200;
 		color: #saddlebrown;
 		margin-bottom: 5px;
 		margin-top: 2px;
 	}


 	img
 			{ 
 				width: 25%;
 			height: 25%;
 			}

 		#Embassy{
 			float: left;
 			margin-left: 1rem;
 		}

 		#Supermkt{
 			float:right;
 		margin-bottom: 20%;
 		}

/*Further side based styling*/

.rightparagraph {
	position: inherit;
	left: 20px;
	width: 30%;
}

.leftparagraph {
	position: relative;
	right: 20px;
	width: 30%;

}


.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; 
}

.rcolumn {
  float: right;
  width: 50%;
  padding: 10px;
  height: 300px; 
}

.body {
	display: flex;
	flex-direction: column;
}

.bodyright{
	display: flex;
	flex-direction: row-reverse;
}


	
}


/*Left and right styling for hot and cold pages*/

.imagespacing2{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	padding: 2%;
	margin-top: 5%;
	width: 30%;
	float: right;

}

.add-details{
	display: flex;
	flex-direction: column;
	margin-left: 5%;
}

.add-details2{
	display: flex;
	flex-direction: column;
	margin-left: 75%;
	float: left;
}




/*nav bar experimentation*/
.navcontainer{
	background-color: saddlebrown;
	width: 100%;
}
.navcontainer2{
	width: 100%;
	display: absolute;
	bottom: 100%;
}

	.navbar2{
		display: flex;
		background: saddlebrown;
		font-family: georgia;
		font-size: 4rem;
		width: 100%;
		align-items: center;
		justify-content: space-evenly;
		bottom: 100%;
	}
	.navdiv2{
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}